body{
background:#f0f8ff;
text-align:center;
font-family:Arial;
}

.container{
margin-top:100px;
}

button{
padding:10px 20px;
margin:10px;
border-radius:10px;
font-size:18px;
}

#score{
color:green;
}